@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #525561;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
