.users-box{
  overflow-y: auto;
}
.users-box::-webkit-scrollbar {
  width: 12px;
}

.users-box::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.025);
  border-radius: 4px;
}

.users-box::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 4px;
}